body{
    font-family: Arial;

    /* animated hospital background */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;

    margin: 0;
    padding: 0;

    animation: bgchange 20s infinite;
}

/* background images changing */
@keyframes bgchange{

    0%{
        background-image:url("https://images.unsplash.com/photo-1519494026892-80bbd2d6fd0d");
    }

    25%{
        background-image:url("https://images.unsplash.com/photo-1505751172876-fa1923c5c528");
    }

    50%{
        background-image:url("https://images.unsplash.com/photo-1584982751601-97dcc096659c");
    }

    75%{
        background-image:url("https://images.unsplash.com/photo-1586773860418-d37222d8fce3");
    }

    100%{
        background-image:url("https://images.unsplash.com/photo-1519494026892-80bbd2d6fd0d");
    }
}

/* Navbar */
.navbar{
    background:#2c3e50;
    padding:15px;
    text-align:center;
}

.navbar a{
    color:white;
    margin:15px;
    text-decoration:none;
    font-weight:bold;
}

/* Main container */
.container{
    width:500px;
    margin:60px auto;
    background:white;
    padding:30px;
    border-radius:15px;
    box-shadow:0 10px 25px rgba(0,0,0,0.2);
    text-align:center;
}

/* Doctor image */
.doctor{
    width:180px;
    display:block;
    margin:0 auto 15px auto;
}

/* Form inputs */
input{
    width:100%;
    padding:10px;
    margin-top:5px;
    border-radius:6px;
    border:1px solid #ccc;
}

/* Button */
button{
    margin-top:20px;
    width:100%;
    padding:12px;
    background:#27ae60;
    color:white;
    border:none;
    border-radius:8px;
    cursor:pointer;
    font-size:16px;
}

button:hover{
    background:#219150;
}

/* Result box */
.result{
    margin-top:20px;
    padding:15px;
    background:#e8f8f5;
    border-left:5px solid #27ae60;
    border-radius:8px;
    font-weight:bold;
}

/* Footer */
.footer{
    margin-top:20px;
    font-size:12px;
    color:gray;
}
